<div class="container" [ngClass]="todoColor.color" fxLayout="column" fxLayoutAlign="start center" fxFlex>
  <div class="todo-pin"></div>
  <h2 class="todo-list-title" fxFlexAlign="start">Todo list</h2>
  <app-todo-input (addTodo)="onAddTodo($event)"></app-todo-input>
  <span class="spacer" fxFlex="20px"></span>
  <app-todo-items [todos]="todos" (toggleTodo)="onToggleTodo($event)" (deleteTodo)="onDeleteTodo($event)"></app-todo-items>
  <div class="loading" *ngIf="!todos">Loading...</div>
  <app-color-picker [options]="todoColors" [selected]="todoColor" (onChange)="onColorPick($event)"></app-color-picker>
</div>
