:host {
  // display: flex;
  width: 100%;
  margin: 10px;
}

.container {
  position: relative;
  margin: auto;
  // width: 100%;
  max-width: 650px !important;
  min-width: 450px;
  height: 100%;
  padding: 35px 50px;
}

.logout {
  position: absolute;
  background: url(../../../../assets/images/logout.png) no-repeat center center;
  background-size: contain;
  right: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  filter: grayscale(100%);
  transition: all 300ms;

  &:hover {
    filter: none;
  }
}

.todo-pin {
    position: absolute;
    width: 65px;
    height: 50px;
    background: url(../../../../assets/images/pin.png) no-repeat center center;
    background-size: contain;
    left: 50%;
    top: 20px;
    transform: translate(-50%, 0);
}

app-todo-input {
  width: 100%;
}

app-todo-items {
  width: 100%;
}

app-color-picker {
  position: absolute;
  bottom: 10px;
  // padding-bottom: 10px;
  // padding-right: 10px;
  right: 10px;
}
