/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body, html {
  margin: 0;
  height: 100%;
  background: url(assets/images/bg.jpg) no-repeat;
  background-size: cover;
}

@keyframes shrink-grow {
  0%, 100% { transform: scale(1.0); },
  50% { transform: scale(1.5); }
}

.loading {
  margin: auto;
  animation: shrink-grow 2s infinite;
}

.yellow {
  background-color: rgb(253, 252, 187);
}
.blue {
  background-color: rgb(201, 231, 247);
}
.green {
  background-color: rgb(190, 241, 186);
}
.white {
  background-color: rgb(244, 244, 244);
}
